@tailwind base;
@tailwind components;
@tailwind utilities;

page {
  background: #f5fbef;
  font-family: 'Lexend', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

view, text {
  box-sizing: border-box;
}
